<app-header [userType]="'admin@gmail.com'"></app-header>
<div>
<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a
        routerLink="add"
        class="nav-link"
        routerLinkActive="active"
        data-mdb-toggle="tab"
        role="tab"
        aria-selected="false"
        >Add Recipe</a
      >
    </li>
    <li class="nav-item" >
      <a
        routerLink="list"
        routerLinkActive="active"
        class="nav-link"
        data-mdb-toggle="tab"
        role="tab"
        aria-selected="false"
        >Recipies List</a
      >
    </li>
    <li class="nav-item" >
      <a
        routerLink="edit"
        routerLinkActive="active"
        class="nav-link"
        data-mdb-toggle="tab"
        role="tab"
        aria-selected="false"
        >Update Recipe</a
      >
    </li>
</ul>
<!-- Tabs navs -->
<!-- Tabs content -->
<div class="contentSection">
    <router-outlet></router-outlet>
</div>
<!-- Tabs content -->
</div>
<app-footer></app-footer>

  